<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Designing the commerce experience - Theming for Shopify</title>
    <link rel="stylesheet" type="text/css" href="build/build.css">
  </head>
  <body>
    <article>
      <section>
        <h1>Designing the commerce experience</h1>
        <h2>Theming for Shopify</h2>
      </section>
      <section><img src="images/shopify_logo.png">
        <h3>A hosted e-commerce platform</h3>
      </section>
      <section>
        <h2>What makes Shopify so awesome?</h2>
      </section>
      <section>
        <h2>The app store</h2>
        <h3><a href="https://apps.shopify.com/">apps.shopify.com/</a></h3>
        <ul>
          <li></li>
          <li>Campaignified</li>
          <li>Landed</li>
        </ul>
      </section>
      <section>
        <h2>The theme store</h2>
        <h3><a href="https://themes.shopify.com/">themes.shopify.com/</a></h3>
        <ul>
          <li></li>
          <li>Checked before they are accepted.</li>
          <li>Can be sold for free.</li>
          <li>Or must be $80 &mdash; $180.</li>
        </ul>
      </section>
      <section>
        <h2>Building a theme</h2>
        <ul>
          <li>HTML, CSS &amp; JS</li>
          <li>+</li>
          <li>Liquid</li>
        </ul>
      </section>
      <section>
        <h2>Liquid templating language</h2>
        <h3>Created by Shopify</h3>
        <ul>
          <li></li>
          <li>Also used by:</li>
          <li><a href="http://get.harmonyapp.com/">Harmony</a></li>
          <li><a href="http://locomotivecms.com/">LocomotiveCMS</a></li>
          <li><a href="http://www.siteleaf.com/">Siteleaf</a></li>
        </ul>
      </section>
      <section>
        <h3>Liquid example:</h3>
        <pre><code class="language-markup">{% if collection.products.size > 0 %}
  {% for product in collection.products %}
    &lt;h1&gt;{{ product.title }}&lt;/h1&gt;
  {% endfor %}
{% endif %}
</code></pre>
      </section>
      <section>
        <h3>If statements:</h3>
        <pre><code class="language-markup">{% if moose %}
  ...
{% elsif monkey %}
  ...
{% endif %}
</code></pre>
      </section>
      <section>
        <h3>Loops:</h3>
        <pre><code class="language-markup">{% for moose in monkey %}
  ...
{% endfor %}
</code></pre>
      </section>
      <section>
        <h3>Variable assignment:</h3>
        <pre><code class="language-markup">{% assign moose = monkey %}
</code></pre>
      </section>
      <section>
        <h3>Liquid output:</h3>
        <pre><code class="language-markup">{{ page_title }}
</code></pre>
      </section>
      <section>
        <h3>Liquid objects:</h3>
        <pre><code class="language-markup">{{ product.title }}
{{ product.description }}
{{ product.images }} # is an array
</code></pre>
      </section>
      <section>
        <h3>Liquid filters:</h3>
        <pre><code class="language-markup">{{ 5 | times:5 }}
=> 25

{{ ‘my moose’ | replace: ‘moose’, ‘monkey’ }}
=> my monkey

{{ ‘moose/monkey’ | split: ‘/’ }}
=> [‘moose’,’monkey’]
</code></pre>
      </section>
      <section>
        <h3>Filter chaining:</h3>
        <pre><code class="language-markup">{{ product.images | first | img_tag | link_to: product.url }}

&lt;a href="/product/my-product"&gt;
  &lt;img src="/images/my-product.jpg" alt="My product"&gt;
&lt;/a&gt;
</code></pre>
      </section>
      <section>
        <h2>Liquid documentation</h2>
        <ul>
          <li><a href="http://docs.shopify.com/themes/liquid-documentation/basics">http://docs.shopify.com/themes/liquid-documentation/basics</a></li>
          <li><a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers">https://github.com/Shopify/liquid/wiki/Liquid-for-Designers</a></li>
          <li><a href="http://cheat.markdunkley.com/">http://cheat.markdunkley.com/</a></li>
        </ul>
      </section>
      <section>
        <h2>Theme structure</h2>
        <pre><code class="language-markup">theme
- assets
- config
- layout
- snippets
- template
</code></pre>
      </section>
      <section>
        <h2>Theme structure</h2>
        <ul>
          <li>Assets</li>
          <li>Config &amp; theme settings</li>
          <li>Layout</li>
          <li>Templates</li>
          <li>Snippets &amp; includes</li>
        </ul>
      </section>
      <section>
        <h2>Templates:</h2>
        <ul>
          <li>Home (index.liquid)</li>
          <li>Product (product.liquid)</li>
          <li>Page (page.liquid)</li>
          <li>etc.</li>
        </ul>
      </section>
      <section>
        <h3>Snippets &amp; includes:</h3>
        <pre><code class="language-markup">{{ include ‘my_snippet’ }}
</code></pre>
      </section>
      <section>
        <h3>Snippets &amp; includes:</h3>
        <pre><code class="language-markup">{{ include ‘my_snippet’ with ‘moose’ }}
</code></pre>
      </section>
      <section>
        <h2>Workflow</h2>
        <ul>
          <li></li>
          <li>Git</li>
          <li>Shopify theme gem</li>
          <li>Grunt</li>
        </ul>
      </section>
      <section>
        <h2>Liquid vs Sass</h2>
      </section>
      <section>
        <h3>Escaping liquid inside sass:</h3>
        <pre><code class="language-css">body{
 /* {% if settings.background-image %} */
  background-image: url({{ settings.background-image | asset_url }});
 /* {% else %} */
  background: whitesmoke;
 /* {% endif %} */
}

/* {{ settings.custom-css | prepend: '*\/' | append: '\/*' | remove: '\' }} */

/* {% if settings.custom-css %}
  {{ settings.custom-css | prepend: '*\/' | append: '\/*' | remove: '\' }}
{% endif %} */</code></pre><small><em><a href="https://gist.github.com/stewartknapman/8346708">https://gist.github.com/stewartknapman/8346708</a></em></small>
      </section>
      <section>
        <h2>Liquid <3 Sass</h2>
      </section>
      <section>
        <h2>Shopify partners program</h2>
        <h3><a href="http://www.shopify.com/partners">www.shopify.com/partners</a></h3>
      </section>
      <section>
        <h2>Thanks!</h2>
        <h3><a :http://www.twitter.com/stewartknapman>@stewartknapman</a></h3><small><em>Slides by Bespoke.js</em></small>
      </section>
    </article>
    <script src="build/build.js"></script>
  </body>
</html>