doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Designing the commerce experience - Theming for Shopify

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Designing the commerce experience
        h2 Theming for Shopify
        
      section
        img(src='images/shopify_logo.png')
        h3 A hosted e-commerce platform
        
      section
        h2 What makes Shopify so awesome?
        
      section
        h2 The app store
        h3: a(href='https://apps.shopify.com/') apps.shopify.com/
        ul
          li
          li Campaignified
          li Landed
          
      section
        h2 The theme store
        h3: a(href='https://themes.shopify.com/') themes.shopify.com/
        ul
          li
          li Checked before they are accepted.
          li Can be sold for free.
          li Or must be $80 &mdash; $180.
          
      section
        h2 Building a theme
        ul
          li HTML, CSS &amp; JS
          li +
          li Liquid
          
      section
        h2 Liquid templating language
        h3 Created by Shopify
        ul
          li
          li Also used by:
          li: a(href="http://get.harmonyapp.com/") Harmony
          li: a(href="http://locomotivecms.com/") LocomotiveCMS
          li: a(href="http://www.siteleaf.com/") Siteleaf
          
      section
        h3 Liquid example:
        pre
          code.language-markup.
            {% if collection.products.size > 0 %}
              {% for product in collection.products %}
                &lt;h1&gt;{{ product.title }}&lt;/h1&gt;
              {% endfor %}
            {% endif %}
            
      section
        h3 If statements:
        pre
          code.language-markup.
            {% if moose %}
              ...
            {% elsif monkey %}
              ...
            {% endif %}
            
      section
        h3 Loops:
        pre
          code.language-markup.
            {% for moose in monkey %}
              ...
            {% endfor %}
            
      section
        h3 Variable assignment:
        pre
          code.language-markup.
            {% assign moose = monkey %}
            
      section
        h3 Liquid output:
        pre
          code.language-markup.
            {{ page_title }}
        
      section
        h3 Liquid objects:
        pre
          code.language-markup.
            {{ product.title }}
            {{ product.description }}
            {{ product.images }} # is an array
        
      section
        h3 Liquid filters:
        pre
          code.language-markup.
            {{ 5 | times:5 }}
            => 25
            
            {{ ‘my moose’ | replace: ‘moose’, ‘monkey’ }}
            => my monkey
            
            {{ ‘moose/monkey’ | split: ‘/’ }}
            => [‘moose’,’monkey’]
        
      section
        h3 Filter chaining:
        pre
          code.language-markup.
            {{ product.images | first | img_tag | link_to: product.url }}
            
            &lt;a href="/product/my-product"&gt;
              &lt;img src="/images/my-product.jpg" alt="My product"&gt;
            &lt;/a&gt;
            
      section
        h2 Liquid documentation
        ul
          li: a(href='http://docs.shopify.com/themes/liquid-documentation/basics') http://docs.shopify.com/themes/liquid-documentation/basics
          li: a(href='https://github.com/Shopify/liquid/wiki/Liquid-for-Designers') https://github.com/Shopify/liquid/wiki/Liquid-for-Designers
          li: a(href='http://cheat.markdunkley.com/') http://cheat.markdunkley.com/
          
      section
        h2 Theme structure
        pre
          code.language-markup.
            theme
            - assets
            - config
            - layout
            - snippets
            - template
          
      section
        h2 Theme structure
        ul
          li Assets
          li Config &amp; theme settings
          li Layout
          li Templates
          li Snippets &amp; includes
          
      section
        h2 Templates:
        ul
          li Home (index.liquid)
          li Product (product.liquid)
          li Page (page.liquid)
          li etc.
          
      section
        h3 Snippets &amp; includes:
        pre
          code.language-markup.
            {{ include ‘my_snippet’ }}
          
      section
        h3 Snippets &amp; includes:
        pre
          code.language-markup.
            {{ include ‘my_snippet’ with ‘moose’ }}
            
      section
        h2 Workflow
        ul
          li
          li Git
          li Shopify theme gem
          li Grunt
          
      section
        h2 Liquid vs Sass
          
      section
        h3 Escaping liquid inside sass:
        pre
          code.language-css.
            body{
             /* {% if settings.background-image %} */
              background-image: url(#{'{{ settings.background-image | asset_url }}'});
             /* {% else %} */
              background: whitesmoke;
             /* {% endif %} */
            }
            
            /* {{ settings.custom-css | prepend: '*\/' | append: '\/*' | remove: '\' }} */
            
            /* {% if settings.custom-css %}
              {{ settings.custom-css | prepend: '*\/' | append: '\/*' | remove: '\' }}
            {% endif %} */
        small: em: a(href='https://gist.github.com/stewartknapman/8346708') https://gist.github.com/stewartknapman/8346708
        
      section
        h2 Liquid <3 Sass
        
      section
        h2 Shopify partners program
        h3: a(href='http://www.shopify.com/partners') www.shopify.com/partners
        
      section
        h2 Thanks!
        h3: a(:http://www.twitter.com/stewartknapman) @stewartknapman
        br
        small: a(href='http://stewartknapman.github.io/shopify-slides/') stewartknapman.github.io/shopify-slides
        br
        small: em Slides by Bespoke.js

    script(src='build/build.js')